




.home-header{
    padding: 40px 0 0 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home__navbar{
    background-image: url("../images/home-header/navbar-back-img.png");
    background-size: 973px 96px;
    background-repeat: no-repeat;
    background-position: right;
    
    display: flex;
}
.home__list{
    display: flex;
    padding: 0 167px 0 88px;
}

.home__item+.home__item{
    margin-left: 5px;
}
.home__item-link{
    display: inline-block;
    padding: 35px;
    position: relative;
    overflow: hidden;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}
.home__item-link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: -100%;
    bottom: 0;
    transition: all 0.4s ease;
    
}
.home__item-link:hover::before{
    left: 0;
}
.home__item-number{
    margin-right: 12px;
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
}










@media (max-width:768px){
    body{
        background-image: url("../../images/home-header/hero/background\ tablet\ img.png");

        background-size: 100%;
        height: 100vh;
        background-repeat: no-repeat;
    }
    .home__navbar{
        width: 450px;
        padding: 39px 48px;
        background-image: url("../../images/home-header/hero/tablet-navbar.png");
        background-position: center;
    }
    .home__item-number{
        display: none;
    }
    .home__item-link{
        font-size: 14px;
    }
}

