


.technology-site-main{
    position: relative;
}
.technology__wrap{
    margin: 76px 0 137px 166px;
}
.technology__strong{
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
}
.technology__strong-number{
    margin-right: 24px;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
    opacity: 0.25;
}




.technology__rocket-img{
    position: absolute;
    right: 0;
    top: 70px;
}